node_modules/
.next/
out/
primock57/
source_data.xlsx
private/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
